*.log
wp-config.php
htdocs/wp-config.php
htdocs/wp-content/uploads/
htdocs/wp-content/blogs.dir/
htdocs/wp-content/plugins/hello.php

htdocs/license.txt
htdocs/readme.html
htdocs/sitemap.xml
htdocs/sitemap.xml.gz
htdocs/wp-content/plugins/bwp-minify/cache/*

wp-core